.workout-gym-header {
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a3a3a3;
    background-image: url('../../public/images/workout_gym_main.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: rgb(205, 2, 2);
}

/* 페이지 상단 메뉴 설명 간격 조정*/
.workout-gym-header * {
    margin: 0;
}

.workout-gym-header h1 {
    color: #f52e2b;
    font-size: 5rem;
}

.workout-gym-header p {
    color: #e53935;
    font-size: 2rem;
}

.workout-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: rgb(40, 40, 40);
}

.workout-tag-buttons {
    display: flex;
    text-align: center;
    width: fit-content;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.workout-tag {
    width: 120px;
    height: 100%;
    border: 1px solid black;
    align-content: center;
    background-color: #2e2e2e;
    color: #cccccc;
    padding: 10px 20px;
    border-radius: 10px;
}

.workout-tag:hover {
    background-color: #c0392b;
}

.workout-tag-selected {
    background-color: #b71c1c;
    color: white;
    font-weight: bold;
}

.workout-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 100px;
    height: 800px;
    width: fit-content;
    background-color: #a3a3a3;
    padding: 50px;
    border-radius: 20px;
    background-image: url('../../public/images/gym_main.jpg');
    filter: grayscale(1);
    background-size: cover;
    overflow-y: scroll;
}

.workout-grid::-webkit-scrollbar {
    width: 10px;
}

.workout-grid::-webkit-scrollbar-thumb {
    background: rgb(95, 95, 95);
    /* 스크롤바 색상 */
    border-radius: 10px;
    /* 스크롤바 둥근 테두리 */
}

.workout-grid::-webkit-scrollbar-track {
    background: rgba(226, 226, 226, 0.1);
    /*스크롤바 뒷 배경 색상*/
}

.workout-card {
    width: 180px;
    height: 180px;
    background: rgba(158, 158, 158, 0.863);
    background-image: none;
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(138, 12, 8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    white-space: pre-line;
    text-align: center;

}

.workout-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.workout-slide-animation {
    animation: slide-down 1s ease forwards;
}