/* board-body 전체 영역 */
.board-body {
    background-color: #333333;
    color: #eee;
    min-height: 100vh;
    padding: 40px 20px;
    font-family: "Pretendard", sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    
}

/* 상단 제목 */
.board-header h3 {
    color: #f7374f;
    margin-bottom: 30px;
    font-size: 1.8rem;
    text-align: center;
}

/* 게시판 필터 네비게이션 */
.board-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.board-nav button {
   
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.board-nav>button:hover {
    background-color: rgb(255, 124, 124);
    border-color: #ffffff;
    color: rgb(0, 0, 0);
}

.board-nav>button:focus {
    background-color: rgb(255, 94, 94);
    color: white;
}

/* 게시글 정렬 버튼 */
.board-outer button {
    padding: 6px 12px;
    margin-right: 6px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.board-outer button:hover {

    background-color: #ff5165;
}

.board-outer button:focus {

    background-color: rgb(255, 94, 94);
}

/* 게시글 리스트 테이블 */
.board-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #333333;
}

.board-list-table th,
.board-list-table td {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease, box-shadow 0.3s ease;

}


.board-list-table th {
    background-color: #f5f5f5;
    font-weight: 600;
}

.board-list-table tbody tr:hover {

    transform: translateY(-6px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}


/* 글쓰기 버튼 */
.board-outer>button {
    display: block;
    margin: 30px auto 0;
    padding: 12px 20px;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.board-outer>button:hover {
    background-color: #000000;
}




.board-outer h2 {
    color: rgb(255, 46, 46);
}

.board-list-table>thead {
    color: black;
}



.tr-cursor:hover {
    background-color: rgb(255, 124, 124);
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}



.board-search {

    display: flex;
    justify-content: space-between;

}


.board-page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.board-nav{
    display: flex;
    gap: 8px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    
}
