@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");


* {
    box-sizing: border-box;
}

.account-re-body {
    height: 100vh;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-content: center;
}

.account-re-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* 여백 추가 */
    width: 100%;
}
.account-re-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-re-container {
    display: flex; /* 양쪽 박스를 가로로 배치 */
    justify-content: center;
    align-items: center;
    gap: 20px; /* 양쪽 박스 간 간격 */
    border-radius: 10px;
    width: 900px;
    min-height: 500px;
    background-color: transparent; /* 배경 없으면 지워도 됨 */
}

.account-re-form {
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px; /* 입력 폼 폭 제한 */
}



.account-re-email-container {
    width: 450px;
    height: 500px;
    background-color: lightgray;

    border-radius: 30px;


}

.account-re-email-h1 {

}

.account-re-pass-container {
    width: 450px;
    height: 500px;
    background-color: lightgray;
    border-radius: 30px;
}

.account-re-form .account-re-input {
    background: #fdfafa;
    padding: 12px;
    width: 100%; /* 부모의 너비를 꽉 채움 */
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: left; /* ← 왼쪽 정렬 */
    margin: 5px 0; /* 위아래 여백 추가 */
}


.account-re-sub-btn {
    margin-top: auto;
    align-self: center;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
}

.account-re-emailsub-btn {
    margin-top: 140px;
}

.account-re-btn {
    margin-left: 10px;
    width: 115px;
    height: 40px;
    border-radius: 30px;
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.account-re-modal-close-btn {
    margin-top: 20px; /* 위 여백 */
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    align-self: center; /* 중앙 정렬 */
}

.account-re-select {
    margin-right: 5px;
    width: 60px;
    height: 30px;
    border-color: #fdfafa;
    border-radius: 10px;
    color: #000000;
    font-size: 15px;
}

.account-re-h1 {
    text-align: center;
    
}